header {
  width: 60vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: pretendard;
}
header > .logo {
  display: flex;
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
  gap: 10px;
}
nav > ul {
  display: flex;
  font-size: var(--medium-font-size);
  font-weight: var(--thin-font-weight);
  gap: 30px;
}
nav > ul > li {
  border-radius: 24px;
  padding: 14px 16px;
  color: var(--main-color);
}
nav > ul > li:hover {
  background-color: #f4ffde;
  padding: 14px 16px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
  nav {
    display: none;
  }
}
